@using Orchid.Core.Models.ValueObjects
@using Orchid.Presentation.Models
@using Orchid.Presentation.Services
@inject BookPaginationService BookPaginationService
@inject IJSRuntime Js

<div style="flex-grow: 1; overflow: hidden; position: relative;"
     class="d-flex justify-center"
     @onclick="HandleReaderClick">

    <div class="reader-content" id="readerContainer"
         style="width: 100%; height: 100%; padding-left: 15px; padding-right: 15px;">
        <ChapterView @ref="_chapterView"
                     CurrentPageHtml="@_currentPageHtml"
                     NextPageHtml="@_nextPageHtml"
                     PreviousPageHtml="@_prevPageHtml"
                     BookCss="@Css"
                     OnPageContextChangeCallback="OnPageContextChangeCallback"
                     OnPageContextChangeEndCallback="OnPageContextChangeEndCallback"/>
    </div>
</div>

<Toolbar
    IsVisible="_showToolbar"
    NextPage="@NextPage"
    PreviousPage="@PreviousPage"
    IsFirstPage="@IsFirstPage"
    IsLastPage="@IsLastPage"
    CurrentChapterPageIndex="@_currentChapterPageIndex"
    CurrentChapterTotalPages="@_currentChapterTotalPages"/>

@code {
    [Parameter] public BookId BookId { get; set; } = null!;
    [Parameter] public int ChaptersCount { get; set; }
    [Parameter] public ChapterPaginationStore PaginationStore { get; set; } = null!;
    [Parameter] public IEnumerable<CssFile> Css { get; set; } = [];
    [Parameter] public EventCallback<PageIdentifier> OnPageChanged { get; set; }
    [Parameter] public EventCallback OnPageContextChangeCallback { get; set; }
    [Parameter] public EventCallback OnPageContextChangeEndCallback { get; set; }
    public int CurrentPageIndex => _currentChapterPageIndex;
    public int CurrentTotalPages => _currentChapterTotalPages;
    public ElementReference PaginationSandbox => _chapterView.PaginationSandbox;

    private ChapterView _chapterView = null!;
    private bool _showToolbar;

    private int _currentChapterIndex;
    private int _currentChapterPageIndex;
    private int _currentChapterTotalPages = 1;

    private string? _prevPageHtml;
    private string? _currentPageHtml;
    private string? _nextPageHtml;


    private bool IsFirstPage => _currentChapterIndex == 0 && _currentChapterPageIndex == 0;
    private bool IsLastPage => _currentChapterIndex >= ChaptersCount - 1 && _currentChapterPageIndex >= _currentChapterTotalPages - 1;

    public async Task UpdateAsync()
    {
        await UpdatePageWindowAsync();
        StateHasChanged();
    }

    public async Task RestorePositionAsync(PageIdentifier identifier)
    {
        if (identifier == PageIdentifier.Empty) return;

        var pages = await PaginationStore.GetChapterPagesAsync(identifier.ChapterIndex);
        _currentChapterIndex = identifier.ChapterIndex;
        _currentChapterPageIndex = BookPaginationService.FindPageIndexByLocator(pages, identifier.Locator);

        await UpdatePageWindowAsync();
    }

    private async Task HandleReaderClick(MouseEventArgs e)
    {
        var screenWidth = await Js.InvokeAsync<double>("eval", "window.innerWidth");
        var x = e.ClientX;

        if (x < screenWidth * 0.2) await PreviousPage();
        else if (x > screenWidth * 0.8) await NextPage();
        else _showToolbar = !_showToolbar;
    }

    private async Task NextPage()
    {
        if (_currentChapterPageIndex < _currentChapterTotalPages - 1)
        {
            _currentChapterPageIndex++;
            await UpdatePageWindowAsync();
            await NotifyPositionChangedAsync();
        }
        else if (_currentChapterIndex < ChaptersCount - 1)
        {
            _currentChapterIndex++;
            await OpenChapterAsync(startAtEnd: false);
        }
    }

    private async Task PreviousPage()
    {
        if (_currentChapterPageIndex > 0)
        {
            _currentChapterPageIndex--;
            await UpdatePageWindowAsync();
            await NotifyPositionChangedAsync();
        }
        else if (_currentChapterIndex > 0)
        {
            _currentChapterIndex--;
            await OpenChapterAsync(startAtEnd: true);
        }
    }

    private async Task OpenChapterAsync(bool startAtEnd)
    {
        var pages = await PaginationStore.GetChapterPagesAsync(_currentChapterIndex);
        _currentChapterTotalPages = pages.Length > 0 ? pages.Length : 1;
        _currentChapterPageIndex = startAtEnd ? Math.Max(0, _currentChapterTotalPages - 1) : 0;
        await UpdatePageWindowAsync();
        await NotifyPositionChangedAsync();
    }

    private async Task UpdatePageWindowAsync()
    {
        var currentPages = await PaginationStore.GetChapterPagesAsync(_currentChapterIndex);
        _currentChapterTotalPages = currentPages.Length > 0 ? currentPages.Length : 1;

        // Current page
        _currentPageHtml = currentPages.ElementAtOrDefault(_currentChapterPageIndex)?.Html;

        // Prev page
        if (_currentChapterPageIndex > 0)
        {
            _prevPageHtml = currentPages.ElementAtOrDefault(_currentChapterPageIndex - 1)?.Html;
        }
        else if (_currentChapterIndex > 0)
        {
            var prevPages = await PaginationStore.GetChapterPagesAsync(_currentChapterIndex - 1);
            _prevPageHtml = prevPages.LastOrDefault()?.Html;
        }
        else _prevPageHtml = null;

        // Next page
        if (_currentChapterPageIndex < currentPages.Length - 1)
        {
            _nextPageHtml = currentPages.ElementAtOrDefault(_currentChapterPageIndex + 1)?.Html;
        }
        else if (_currentChapterIndex < ChaptersCount - 1)
        {
            var nextPages = await PaginationStore.GetChapterPagesAsync(_currentChapterIndex + 1);
            _nextPageHtml = nextPages.FirstOrDefault()?.Html;
        }
        else _nextPageHtml = null;
    }

    private async Task NotifyPositionChangedAsync()
    {
        var pages = await PaginationStore.GetChapterPagesAsync(_currentChapterIndex);
        if (_currentChapterPageIndex >= pages.Length) return;

        var id = PageIdentifier.Create(_currentChapterIndex, pages[_currentChapterPageIndex].Locator);
        await OnPageChanged.InvokeAsync(id);
    }

}
